<?xml version="1.0" encoding="utf-8"?>


<configuration>


  <connectionStrings>
    <add name="prod_strictlyclubsConnectionString" connectionString="Data Source=noah.host4asp.net,1431;Initial Catalog=davepete_club;Persist Security Info=True;User ID=davepete_dbuser;Password=Host4asp101!"  />
    <add name="debug_strictlyclubsConnectionString" connectionString="Data Source=GIGANTOR; Initial Catalog=club ; Integrated Security=SSPI;" />


    <add name="aaadebug_strictlyclubsConnectionString" connectionString="Data Source=184.168.194.55; Integrated Security = False; User ID = pleskdjp; Connect Timeout = 15; Encrypt = False; Packet Size = 4096; password=Pleskdjp101!" />

    <add name="xxxprod_strictlyclubsConnectionString" connectionString="Server=localhost\sql202;Database=davepete_club;Uid=davepete_dbuser;Password=Host4asp101!; Remote SQL Server Management Studio Host: noah.host4asp.net,1431" />

    <add name="xxxdebug_strictlyclubsConnectionString" connectionString="Data Source=GIGANTOR; Initial Catalog=club ; Integrated Security=SSPI;" />

    <add name="xxprod_strictlyclubsConnectionString" connectionString="Data Source=184.168.194.55; Integrated Security = False; User ID = pleskdjp; Connect Timeout = 15; Encrypt = False; Packet Size = 4096; password=Pleskdjp101!" />
    <add name="xxprod_strictlyclubsConnectionString" connectionString="Data Source=184.168.194.55; Integrated Security = False; User ID = pleskdjp; Connect Timeout = 15; Encrypt = False; Packet Size = 4096; password=Pleskdjp101!" />
    
    <add name="xdebug_strictlyclubsConnectionString" connectionString="Data Source=GIGANTOR; Initial Catalog=strictlyclubs ; Integrated Security=SSPI;" />
    <add name="strictlyclubsConnectionString" connectionString="Data Source=GIGANTOR;Initial Catalog=strictlyclubs;Integrated Security=True"  providerName="System.Data.SqlClient" />
  </connectionStrings>

  
  <system.web>

    <pages validateRequest="false" enableEventValidation="false" />

    <authentication mode="Forms">
      <forms name=".seSTRICTLYCLUBS" loginUrl="/logonfrm.aspx"  protection="All" path="/" timeout="30" />
    </authentication>

    
    <authorization>
      <deny users="?"  />
      <allow users="*"   />
    </authorization>


    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>

    <customErrors mode="Off"/>

    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>


  </system.web>


  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="privacy.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="feedbackFrm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  

  <location path="helpFrm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  

  <location path="termsFrm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="aboutusfrm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  

  <location path="jobsfrm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  
  <location path="privacyfrm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  
  <location path="accessibilityfrm.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  
  <location path="club">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>


  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>


